.pattern.image-with-heading-text {
  .wp-block-cover__inner-container {}

  .wp-block-columns {}

  .wp-block-heading {
    font-size: var(--wp--preset--font-size--xxx-large);
    position: relative;

    sup {
      position: absolute;
      left: -0.6em;
      font-size: 6em;
      font-weight: 100;
      line-height: 0.26;
      color: var(--wp--preset--color--cooper);
    }
  }

  .wp-block-separator {
    width: 100%;
    border-width: 1px;
  }

}